@media screen {
    .no-print-container {
        width: 100%;
        padding-right: var(--bs-gutter-x, 1.5rem);
        padding-left: var(--bs-gutter-x, 1.5rem);
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 576px) {
        .no-print-container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .no-print-container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .no-print-container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .no-print-container {
            max-width: 1140px;
        }
    }

    @media (min-width: 1400px) {
        .no-print-container {
            max-width: 1320px;
        }
    }
}

@media print {
    .no-print-container {
        width: auto !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        max-width: none !important;
    }
}