
.breathing-animation {
    height: 0.4vh;
    background-color: lightseagreen;
    /* background-color: red; */
    margin: 5vh auto;
    width: 0%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(32, 178, 170, 1), 0 0 20px rgba(32, 178, 170, 1), 0 0 30px rgba(32, 178, 170, 1), 0 0 40px rgba(32, 178, 170, 1);
}

@media (prefers-color-scheme: dark) {
    .breathing-animation {
        box-shadow: 0 0 10px rgba(32, 178, 170, 1), 0 0 20px rgba(32, 178, 170, 1), 0 0 30px rgba(32, 178, 170, 1), 0 0 40px rgba(32, 178, 170, 1);
    }
}

@keyframes breatheBox {

    0%,
    100% {
        width: 10%;
    }

    25% {
        width: 100%;
        /* Inhale phase: 0% to 25% (4 seconds) */
    }

    50% {
        width: 100%;
        /* Hold phase: 25% to 50% (4 seconds) */
    }

    75% {
        width: 10%;
        /* Exhale phase: 50% to 75% (4 seconds) */
    }

    100% {
        width: 10%;
        /* Hold phase: 75% to 100% (4 seconds) */
    }
}


@keyframes breathe21 {

    0%,
    100% {
        width: 10%;
    }

    33.33% {
        width: 100%;
        /* Inhale phase: 0% to 33.33% (4 seconds) */
    }

    100% {
        width: 10%;
        /* Exhale phase: 33.33% to 100% (8 seconds) */
    }
}


@keyframes breathe555 {

    0%,
    100% {
        width: 10%;
    }

    33.33% {
        width: 100%;
        /* Inhale phase: 0% to 33.33% (5 seconds) */
    }

    66.67% {
        width: 100%;
        /* Hold phase: 33.33% to 66.67% (5 seconds) */
    }

    100% {
        width: 10%;
        /* Exhale phase: 66.67% to 100% (5 seconds) */
    }
}


@keyframes breathe478 {

    0%,
    100% {
        width: 10%;
    }

    21.05% {
        width: 100%;
        /* Inhale phase: 0% to 21.05% (4 seconds) */
    }

    63.16% {
        width: 100%;
        /* Hold phase: 21.05% to 63.16% (7 seconds) */
    }

    100% {
        width: 10%;
        /* Exhale phase: 63.16% to 100% (8 seconds) */
    }
}

@keyframes breathe6363 {

    0%,
    100% {
        width: 10%;
    }

    30% {
        width: 100%;
        /* Inhale phase: 0% to 30% (6 seconds) */
    }

    50% {
        width: 100%;
        /* Hold phase: 30% to 50% (3 seconds) */
    }

    80% {
        width: 10%;
        /* Exhale phase: 50% to 80% (6 seconds) */
    }

    100% {
        width: 10%;
        /* Hold phase: 80% to 100% (3 seconds) */
    }
}


@keyframes breathe448 {

    0%,
    100% {
        width: 10%;
    }

    28.57% {
        width: 100%;
        /* Inhale phase: 0% to 28.57% (4 seconds) */
    }

    57.14% {
        width: 100%;
        /* Hold phase: 28.57% to 57.14% (4 seconds) */
    }

    100% {
        width: 10%;
        /* Exhale phase: 57.14% to 100% (8 seconds) */
    }
}

body {
    background: url('https://dakg4cmpuclai.cloudfront.net/1v9jdk6go48blc77c4d6e62bz/ZG1qLm9uZQ%3D%3D/img.gif') !important;
}


@keyframes breathe12 {

    0%,
    100% {
        width: 10%;
    }

    33.33% {
        width: 100%;
        /* Inhale phase: 0% to 33.33% (5 seconds) */
    }

    100% {
        width: 10%;
        /* Exhale phase: 33.33% to 100% (10 seconds) */
    }
}


@keyframes breatheNadiShodhana {

    0%,
    100% {
        width: 10%;
    }

    25% {
        width: 100%;
        /* Inhale left nostril: 0% to 25% (4 seconds) */
    }

    50% {
        width: 10%;
        /* Exhale right nostril: 25% to 50% (4 seconds) */
    }

    75% {
        width: 100%;
        /* Inhale right nostril: 50% to 75% (4 seconds) */
    }

    100% {
        width: 10%;
        /* Exhale left nostril: 75% to 100% (4 seconds) */
    }
}


@keyframes breatheDiaphragmatic {

    0%,
    100% {
        width: 10%;
    }

    50% {
        width: 100%;
        /* Inhale phase: 0% to 50% (6 seconds) */
    }

    100% {
        width: 10%;
        /* Exhale phase: 50% to 100% (6 seconds) */
    }
}


.breatheBox {
    animation: breatheBox 16s infinite;
}

.breathe21 {
    animation: breathe21 12s infinite;
}

.breathe555 {
    animation: breathe555 15s infinite;
}

.breathe478 {
    animation: breathe478 19s infinite;
}

.breathe6363 {
    animation: breathe6363 18s infinite;
}

.breathe448 {
    animation: breathe448 16s infinite;
}

.breathe12 {
    animation: breathe12 15s infinite;
}

.breatheNadiShodhana {
    animation: breatheNadiShodhana 16s infinite;
}

.breatheDiaphragmatic {
    animation: breatheDiaphragmatic 12s infinite;
}