/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "/css/edu_su_normalize.css";
/** Texts **/
@import url('https://fonts.googleapis.com/css?family=Cinzel|Foldit|Gruppo|Lato|Lato:100|Orbitron|Roboto|Quicksand|Maven+Pro|Baloo+2|Bebas+Neue|Tangerine|Syne+Mono|Rubik+80s+Fade|Neonderthaw&display=swap&effect=neon');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css');
/** FrameWorks **/
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css');

/***************** Custom Frameworks ********************/
/***** Controlled Breathing Technique CSS */
@import url('/css/controlledbreathing.css');
@import url('/css/negative-margins.css');
@import url('/css/advanced-container.css');
@import url('/css/custom-length.css');
@import url('/css/effects.css');

/****** Imported Google Fonts as Classes *****/
@import url('/css/fonts.css');

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Define color scheme for light and dark modes */
:root {
  --text-color: #000;
  --menucardtext-color: #18151f;
  --background-color: #fafafaf3;
  --article-odd: rgba(255, 255, 255, 0.80);
  --article-even: rgba(242, 242, 242, 0.90);
  --agenmenu-article: #f2f2f2dc;
  --htag: #226e93;
  --header-background: #1e6c93;
  --footer-background: rgba(192, 192, 192, 0.637);
  --postcard-tagboxitem-background: #f3f3f3;
  --line-height-p: 1.67;
  --font-size-p: 1.1rem;
  --glow-logo-breathing-opacity: 0.6;
  --glow-logo-breathing-width: 100vw;
  --glow-logo-breathing-height: 100vw;
}

@media (min-width: 472px) {
  :root {
    --glow-logo-breathing-opacity: 0.5;
    --glow-logo-breathing-width: 500px;
    --glow-logo-breathing-height: 500px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --text-color-muted: #a1a1a1;
    --menucardtext-color: #e1e5ea;
    --background-color: #000000;
    --article-odd: rgba(0, 0, 0, 0.70);
    --article-even: rgba(25, 25, 25, 0.70);
    --agenmenu-article: black;
    --htag: #a9d2eb;
    --header-background: #13425a;
    --footer-background: rgba(92, 92, 92, 0.5);
    --postcard-tagboxitem-background: black;
    --bs-modal-bg: #000000cc;
    --glow-logo-breathing-opacity: 0.3;
    --bs-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(255, 255, 255, 0.175);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.075);
  }

  button {
    color: var(--text-color);
  }

  .list-group-item {
    color: var(--text-color);
  }

  .text-muted {
    color: var(--text-color-muted) !important;
  }

  .figure-caption {
    color: var(--text-color-muted) !important;
  }

  .accordion {
    /* --bs-accordion-bg: #cececed8 !important; */
  }

  .blockquote-footer {
    color: #939ba5;
  }

  .btn-link,
  a {
    color: #8AE2FE;
  }

  i {
    color: var(--text-color);
  }

  body,
  .modal-content {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  /* .toast-body {
    color: var(--text-color);
    background-color: var(--background-color);
  } */

  .list-group {
    --bs-list-group-bg: var(--background-color);
  }

  .hljs {
    background: #000000 !important;
    color: var(--text-color) !important;
    border: 2px solid #2e2e2e !important;
  }

  .hljs-built_in,
  .hljs-keyword,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-tag {
    color: rgb(143, 143, 255);
  }

  .hljs-addition,
  .hljs-attribute,
  .hljs-literal,
  .hljs-section,
  .hljs-string,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-title,
  .hljs-type {
    color: #f52727;
  }

  .imgblacktowhite {
    filter: invert(1);
  }

}

.hljs {
  background: white;
  border: 2px solid #e1e4e8;
  color: var(--text-color);
}

.toast-body {
  color: var(--text-color);
}

.dropdown-item[title="Work In Progress"] {
  color: transparent;
  display: none;
}

body.not-root .nav-item.dropdown .dropdown-menu {
  right: 0;
  left: auto;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  scroll-behavior: smooth !important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* hr {
  height: 7px;
  border: none;
  margin: 0px;
  color: black;
  background-color: black;
} */

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .sharing-buttons-container,
  nav,
  .shadow-lg,
  .sticky-top {
    display: none;
  }
}



/* Custom CSS - From Scratch */



.text-justify {
  text-align: justify !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

body {
  display: grid;
  height: auto;
  grid-template-rows: auto 1fr auto;
  text-rendering: optimizeLegibility;
  font-family: 'Maven Pro', 'Lato', Roboto, Verdana, system-ui, sans-serif;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; */
  word-break: break-word;
  transition: all .5s ease-in-out;
  transition-timing-function: ease-in-out;
  counter-reset: Serial;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: 200% 200%;
  background-attachment: fixed;
  animation: none;
}

.default-background::before {
  /* background-image:
    linear-gradient(160deg, rgba(0, 51, 102, 0.55) 0%, rgba(205, 249, 230, 0.55), rgba(255, 249, 230, 0.70) 50%, rgba(205, 249, 230, 0.55), rgba(0, 51, 102, 0.55) 100%),
    linear-gradient(-160deg, rgba(0, 51, 102, 0.55) 0%, rgba(205, 249, 230, 0.55), rgba(255, 249, 230, 0.70) 50%, rgba(205, 249, 230, 0.55), rgba(0, 51, 102, 0.55) 100%);
  animation: moveGradient 32s linear infinite alternate; */
  background: #effbe9;
  background-image: url('/img/bg-common-no-animation.webp') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
}

@media print {
  .default-background::before {
    background-image: none !important;
  }
}

.bg-cloud {
  background-image: url('/img/bg-cloud.webp') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
}

.indian-flag-background::before {
  animation: moveGradient 32s linear infinite alternate;
  background-image:
    linear-gradient(160deg, rgba(255, 153, 51, 1) 0%, rgba(255, 190, 125, 0.55), rgba(255, 255, 255, 1) 50%, rgba(121, 177, 116, 0.55), rgba(19, 136, 8, 1) 100%),
    linear-gradient(-160deg, rgba(255, 153, 51, 1) 0%, rgba(255, 190, 125, 0.55), rgba(255, 255, 255, 1) 50%, rgba(121, 177, 116, 0.55), rgba(19, 136, 8, 1) 100%);
}

.christmas-background::before {
  background-blend-mode: overlay;
  mix-blend-mode: screen;
  background: #ffffff2d;
  background-image: url('//cdn.dmj.one/img/bg-xmas.webp') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;    
}
.new-year-background::before {
  background-blend-mode: overlay;
  mix-blend-mode: screen;
  background: #ffffff2d;
  /* background-image: url('/img/bg-newyear.webp') !important; */
  background-image: url('//cdn.dmj.one/img/bg-hny.webp') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  margin-left:-50vw !important;
  /* filter: blur(2px);   */
}
.holi-background::before {
  /* background-blend-mode: overlay;
  mix-blend-mode: screen;
  background: #ffffff36; */
  background-image: url('/img/bg-holi.webp') !important;
  /* background-image: url('//cdn.dmj.one/img/bg-hny.webp') !important; */
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  margin-left:-50vw !important;
  /* filter: blur(2px);   */
}

/* Keyframes for gradient background movement */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body::before {
    /* background-image:
      linear-gradient(160deg, rgba(0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0) 100%),
      linear-gradient(-160deg, rgba(0, 0, 0) 0%, rgba(10, 20, 30, 0.85) 50%, rgba(0, 0, 0) 100%); */
    background: #000000;
    animation: none;
  }

  .bg-cloud {
    background-image: url('/img/bg-cloud-dark.webp') !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
  }

  /* Dark mode styles */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

}

body .allow-select {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  user-select: text !important;
}

body:not(.allow-select) {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
}

p {
  text-align: justify;
  font-family: 'Maven Pro', verdana;
  font-weight: normal;
}

h1 {
  font-family: Lato, sans-serif;
}

/* Special Code to shift right by 2% for showing syntax of programs */
pre,
code {
  font-family: Hack, monospace;
}

/* .syntax pre,
.syntax code {
  padding-left: 2%;
} */

.syntax {
  background: var(--background-color);
}

pre code {
  font-weight: normal;
  margin: 1rem 0rem;
  -webkit-user-select: all !important;
  -moz-user-select: all !important;
  user-select: all !important;
}

code {
  font-weight: bold;
}

/** Header **/
header {
  background: var(--header-background);
  padding: 2rem;
  color: white;
}

header p {
  color: white;
}

header p:nth-of-type(2),
header p:nth-of-type(3) {
  /* specific p tag selection and target. */
}

.header-p-author-description {
  font-size: 0.8rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--text-color);
}


/** Main Content **/
main article:first-child h2 {
  font-family: 'Maven Pro', Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  text-shadow: #999;
}

main article:first-child p {
  font-family: 'Maven Pro', Verdana, Geneva, Tahoma, sans-serif;
  line-height: var(--line-height-p);
}

main article:nth-child(odd) {
  background: var(--article-odd);
  /* place-items: center; */
  text-align: justify;
  padding: 2rem;
}

/* Exception for auto generated menu id #agenmenu */
#agenmenu article {
  background-color: var(--agenmenu-article);
}

main article:nth-child(even) {
  background: var(--article-even);
  /* place-items: center; */
  text-align: justify;
  padding: 2rem;
}

main ul.list-unstyled li:nth-child(odd) {
  background: var(--article-even);
  /* place-items: center; */
  text-align: justify;
  padding: 30px;
}

main ul.list-unstyled li:nth-child(even) {
  background: var(--article-odd);
  /* place-items: center; */
  text-align: justify;
  padding: 30px;
}

main ul:not(.list-unstyled) li:nth-child(odd) {
  background: var(--article-even);
  /* place-items: center; */
  text-align: justify;
  padding: 10px;
}

main ul:not(.list-unstyled) li:nth-child(even) {
  background: var(--article-odd);
  /* place-items: center; */
  text-align: justify;
  padding: 10px;
}

main ol.list-unstyled li:nth-child(odd) {
  background: var(--article-even);
  /* place-items: center; */
  text-align: justify;
  padding: 30px;
}

main ol.list-unstyled li:nth-child(even) {
  background: var(--article-odd);
  /* place-items: center; */
  text-align: justify;
  padding: 30px;
}

main ol:not(.list-unstyled) li:nth-child(odd) {
  background: var(--article-even);
  /* place-items: center; */
  text-align: justify;
  padding: 10px;
}

main ol:not(.list-unstyled) li:nth-child(even) {
  background: var(--article-odd);
  /* place-items: center; */
  text-align: justify;
  padding: 10px;
}

main h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Maven Pro', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--htag);
}

.no-color h1,
.no-color h2,
.no-color h3,
.no-color h4,
.no-color h5,
.no-color h6 {
  color: inherit;
  /* This will use the color of the parent element */
}


main article:not(:first-of-type) p:not(.genmenu *),
main article:not(:first-of-type) ol:not(.genmenu *),
main article:not(:first-of-type) li:not(.genmenu *) {
  font-family: 'Maven Pro', Verdana, Geneva, Tahoma, sans-serif;
  line-height: var(--line-height-p);
  font-size: var(--font-size-p);
  /* color: #363b42; */
  color: var(--text-color);
  line-break: loose;
}

main article ol,
main article ul {
  margin: 1rem 0rem;
}

.syntax pre,
.syntax code {
  font-family: Hack, monospace;
}

main article p .output {
  font-family: Hack, monospace;
  color: auto;
}

.codeoutput {
  font-family: var(--bs-font-monospace), Hack, monospace !important;
  color: var(--bs-code-color);
}

.showquote {
  font-family: 'Gruppo', Verdana, sans-serif;
  /* font-weight: bold; */
  /* font-size: 1.5rem; */
  word-spacing: 0.5rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.showauthor {
  word-spacing: 0.32rem;
  letter-spacing: 0.05rem;
}

/** Footer **/
footer {
  background: var(--footer-background);
  padding: 1rem;
  text-align: center;
}

/** Postcard CSS **/
/* body {
  font-family: "Baloo 2", Roboto, Verdana;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}
*/

.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  font-family: "Baloo 2", Verdana;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

/* .postcard.light.shadow.blue:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
} */
.postcard {
  transition: all 0.3s ease;
}

.postcard:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #e1e5ea;
}

.postcard .t-dark {
  color: var(--menucardtext-color);
}

.postcard a {
  color: inherit;
}

.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  /* font-size: 1.75rem; */
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}


body {
  background: url('https://dakg4cmpuclai.cloudfront.net/1v9jdk6go48blc77c4d6e62bz/ZG1qLm9uZQ%3D%3D/img.gif') !important;
}


.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}


.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  /* font-size: 13.5px; */
  /* changed from 15 */
  padding: 0;
  justify-content: center;
}

.postcard .tagbox-tags {
  margin: 10px 0;
}

/* .postcard .tagbox-tags .tag__item {
  margin: auto 0.2rem;
}
*/
/* .postcard .tagbox-tags .tag__item_author {
  margin: auto 20px;
} */

.postcard .tagbox-read {
  margin: 0 0 -20px;
}

/*
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
} */

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: var(--postcard-tagboxitem-background);
  padding: 5px 15px;
  margin: 5px 0 0 5px;
  border-radius: 5px;
  cursor: not-allowed;
  user-select: none;
  transition: all 0.3s ease;
}

.postcard .postcard__tagbox .tag__item:hover {
  /* background: #e0e0e0; */
  background: transparent;
}

.postcard .postcard__tagbox .tag__item.read-more {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  color: #ffffff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px 30px;
}

.postcard .postcard__tagbox .tag__item.read-more:hover {
  background: linear-gradient(to right, #5b86e5, #36d1dc);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  color: #000000;
}


.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }

  .postcard .postcard__title {
    /* font-size: 2rem; */
  }

  .postcard .postcard__tagbox {
    justify-content: start;
  }

  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  .postcard .postcard__text {
    padding: 3.3rem;
    width: 100%;
  }

  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }

  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }

  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -18px !important;
    transform: rotate(4deg);
  }

  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -18px !important;
    transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  /* background: #7add093a; */
  background: linear-gradient(to right, #98fb98, #b2fcb2);
  box-shadow: 0px 10px 15px rgba(152, 251, 152, 0.3);
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  /* background: #0074bd33; */
  background: linear-gradient(to right, #87cefa, #a4d8fc);
  box-shadow: 0px 10px 15px rgba(135, 206, 250, 0.3);
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  /* background: #bd140b48; */
  background: linear-gradient(to right, #fa8072, #fc9885);
  box-shadow: 0px 10px 15px rgba(250, 128, 114, 0.3);
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  /* background: #bdbb4954; */
  background: linear-gradient(to right, #ffed6f, #fff299);
  box-shadow: 0px 10px 15px rgba(255, 237, 111, 0.3);
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .pink.play:hover {
  /* background: #ff69b44d; */
  background: linear-gradient(to right, #ffb6c1, #ffc9d2);
  box-shadow: 0px 10px 15px rgba(255, 182, 193, 0.3);
}

.pink .postcard__title:hover {
  color: #ff69b4;
}

.pink .postcard__bar {
  background-color: #ff69b4;
}

.pink::before {
  background-image: linear-gradient(-30deg, rgba(255, 105, 180, 0.1), transparent 50%);
}

.pink:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(255, 105, 180, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .orange.play:hover {
  /* background: #ffa50033; */
  background: linear-gradient(to right, #ffdab9, #ffe5cc);
  box-shadow: 0px 10px 15px rgba(255, 218, 185, 0.3);
}

.orange .postcard__title:hover {
  color: #ffa500;
}

.orange .postcard__bar {
  background-color: #ffa500;
}

.orange::before {
  background-image: linear-gradient(-30deg, rgba(255, 165, 0, 0.1), transparent 50%);
}

.orange:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(255, 165, 0, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .purple.play:hover {
  /* background: #9370db33; */
  background: linear-gradient(to right, #d8bfd8, #e6d8e8);
  box-shadow: 0px 10px 15px rgba(216, 191, 216, 0.3);
}

.purple .postcard__title:hover {
  color: #9370db;
}

.purple .postcard__bar {
  background-color: #9370db;
}

.purple::before {
  background-image: linear-gradient(-30deg, rgba(147, 112, 219, 0.1), transparent 50%);
}

.purple:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(147, 112, 219, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .cyan.play:hover {
  /* background: #00ffff33; */
  background: linear-gradient(to right, #e0ffff, #edffff);
  box-shadow: 0px 10px 15px rgba(224, 255, 255, 0.3);
}

.cyan .postcard__title:hover {
  color: #00a8a891;
}

.cyan .postcard__bar {
  background-color: #008a8aa9;
}

.cyan::before {
  background-image: linear-gradient(-30deg, rgba(0, 255, 255, 0.1), transparent 50%);
}

.cyan:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 255, 255, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .pink::before {
    background-image: linear-gradient(-80deg, rgba(255, 105, 180, 0.1), transparent 50%);
  }

  .pink:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(255, 105, 180, 0.1), transparent 50%);
  }

  .orange::before {
    background-image: linear-gradient(-80deg, rgba(255, 165, 0, 0.1), transparent 50%);
  }

  .orange:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(255, 165, 0, 0.1), transparent 50%);
  }

  .purple::before {
    background-image: linear-gradient(-80deg, rgba(147, 112, 219, 0.1), transparent 50%);
  }

  .purple:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(147, 112, 219, 0.1), transparent 50%);
  }

  .cyan::before {
    background-image: linear-gradient(-80deg, rgba(0, 255, 255, 0.1), transparent 50%);
  }

  .cyan:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 255, 255, 0.1), transparent 50%);
  }
}


/** Let is snow! **/
.snowflake {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

/** Let there be fireworks! **/
/* canvas {
  border: 0px solid #333;
}

#fireworks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
  animation: slideInUp 1s ease-out;
}

@keyframes slideInUp {
  0% {
    transform: translate(-50%, 100%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

*/
/* canvas {
  border: 0px solid #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#fireworks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
  animation: slideInUp 1s ease-out;
  white-space: nowrap;
  word-wrap: normal;
}

@keyframes slideInUp {
  0% {
    transform: translate(-50%, 100%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
} */

canvas {
  border: 0px solid #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#fireworks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* 
.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
  animation: slideInUp 1s ease-out;
  white-space: nowrap;
  word-wrap: normal;
  font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
} */


.fireworks-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  font-size: 5vw;
  color: white;
  animation: slideInUp 1s ease-out;
  white-space: break-spaces;
  min-width: 90%;
  word-wrap: break-word;
  font-family: 'Maven Pro', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.fireworks-footer {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10001;
  text-align: center;
  font-size: 2vw;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  padding: 5px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

@keyframes slideInUp {
  0% {
    transform: translate(-50%, 100%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

/* Birthday Baloon */
.balloon {
  position: absolute;
  pointer-events: none;
}

/* Summer Water Bubble */
.bubble {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.8;
}

/* April Fools Day */
.emoji {
  position: absolute;
  font-size: 50px;
  animation: dance 1s infinite;
}

@keyframes dance {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Valentine's Day */
.heart {
  position: absolute;
  pointer-events: none;
}

/** Portrait Orientation Devices **/
@media only screen and (max-width: 330px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 280px;
  }
}

@media only screen and (min-width: 330px) and (max-width: 380px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 280px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 430px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 320px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 480px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 380px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 530px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 430px;
  }
}

@media only screen and (min-width: 530px) and (max-width:580px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 480px;
  }
}

@media only screen and (min-width: 580px) and (max-width:630px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 520px;
  }
}

@media only screen and (min-width: 630px) and (max-width:680px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 570px;
  }
}

@media only screen and (min-width: 680px) and (max-width:730px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 620px;
  }
}

@media only screen and (min-width: 730px) and (max-width:780px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 670px;
  }
}

@media only screen and (min-width: 780px) and (max-width:830px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 720px;
  }
}

@media only screen and (min-width: 830px) and (max-width:880px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 780px;
  }
}

@media only screen and (min-width: 880px) and (max-width:930px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 830px;
  }
}

@media only screen and (min-width: 930px) and (max-width:980px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 880px;
  }
}

@media only screen and (min-width: 980px) and (max-width:1030px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 930px;
  }
}

@media only screen and (min-width: 1030px) and (max-width:1080px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1080px) and (max-width:1130px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 1030px;
  }
}

@media only screen and (min-width: 1130px) and (max-width:1180px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 1080px;
  }
}

@media only screen and (min-width: 1180px) and (max-width:1230px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 1130px;
  }
}

@media only screen and (min-width: 1230px) and (max-width:1280px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 1180px;
  }
}

@media only screen and (min-width: 1280px) and (max-width:1330px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 1230px;
  }
}

@media only screen and (min-width: 1330px) and (max-width:1380px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1380px) and (max-width:1439px) {

  .responsive-scroller,
  pre,
  code {
    max-width: 1340px;
  }
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */

  .responsive-scroller,
  pre,
  code {
    min-width: 1340px;
  }
}

@media print {

  header p a,
  nav {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {}

/***** Gantt Chart ******/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcfauY {
  width: 40px;
  height: 35px;
  border: 2px solid rgb(141, 166, 255);
  background-color: var(--background-color);
}

.iJtqCv:not(:last-child),
.fcfauY:not(:last-child) {
  margin-right: -1px;
}

.iJtqCv {
  width: 40px;
  height: 20px;
}

@media (max-width: 37.5em) {
  .iJtqCv {
    width: 32px;
    height: 21px;
    font-size: 14px;
  }

  .fcfauY {
    width: 32px;
    height: 27px;
    font-size: 14px;
  }
}

.auto-index td:first-child:before {
  counter-increment: Serial;
  content: counter(Serial);
}

.page-break-before {
  page-break-before: always !important;
  break-before: always !important;
}

.page-break-after {
  page-break-after: always !important;
  break-after: always !important;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  /* Full viewport height */
}

@media print {
  .page-break-before-print {
    page-break-before: always !important;
    break-before: always !important;
  }

  .page-break-after-print {
    page-break-after: always !important;
    break-after: always !important;
  }

  .page-center-print {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    /* Full viewport height */
  }
}

.blur-0 {
  filter: blur(0);
}

.blur-1 {
  filter: blur(1px);
}

.blur-2 {
  filter: blur(2px);
}

.blur-3 {
  filter: blur(3px);
}

.blur-4 {
  filter: blur(4px);
}

.blur-5 {
  filter: blur(5px);
}

.bg-blur-0 {
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
}

.bg-blur-1 {
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.bg-blur-2 {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.bg-blur-3 {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.bg-blur-4 {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bg-blur-5 {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.bg-blur-6 {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.bg-blur-7 {
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.bg-blur-8 {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.bg-blur-9 {
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.bg-blur-10 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.bg-blur-11 {
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

.bg-blur-12 {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.bg-blur-13 {
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}

.bg-blur-14 {
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}

.bg-blur-15 {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.bg-blur-20 {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.text-auto {
  color: var(--text-color) !important;
}

.bg-auto {
  background-color: var(--background-color) !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-none {
  cursor: none !important;
}

.cursor-block {
  cursor: block !important;
}

.text-zoom {
  transition: transform 1s ease-in-out;
}

.text-zoom:hover {
  transform: scale(1.1);
}

.magnify-text-motto {
  transform: scale(0.99) !important;
  animation: magnifier 2.5s ease-in-out !important;
}

@keyframes magnifier {
  0% {
    transform: scale(0.9);
  }

  85% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.99);
  }
}


.blur-1 {
  filter: blur(2px);
}

.blur-2 {
  filter: blur(4px);
}

.blur-3 {
  filter: blur(6px);
}

.blur-4 {
  filter: blur(8px);
}

.blur-5 {
  filter: blur(10px);
}

.blur-6 {
  filter: blur(12px);
}

.blur-7 {
  filter: blur(14px);
}

.blur-8 {
  filter: blur(16px);
}

.blur-9 {
  filter: blur(20px);
}

.blur-10 {
  filter: blur(30px);
}

.blur-1,
.blur-2,
.blur-3,
.blur-4,
.blur-5,
.blur-6,
.blur-7,
.blur-8,
.blur-9,
.blur-10 {
  transition: filter 0.5s ease-in-out;
}

.blur-1:hover,
.blur-2:hover,
.blur-3:hover,
.blur-4:hover,
.blur-5:hover,
.blur-6:hover,
.blur-7:hover,
.blur-8:hover,
.blur-9:hover,
.blur-10:hover {
  filter: blur(0);
}

.w-10 {
  width: 10% !important;
}

.h-10 {
  height: 10vw !important
}

.h-px-1 {
  height: 1px !important
}

.h-px-2 {
  height: 2px !important
}

.h-px-3 {
  height: 3px !important
}

.h-px-4 {
  height: 4px !important
}

.h-px-5 {
  height: 5px !important
}

.h-px-6 {
  height: 6px !important
}

.h-px-7 {
  height: 7px !important
}

.h-px-8 {
  height: 8px !important
}

.h-px-9 {
  height: 9px !important
}

.h-px-10 {
  height: 10px !important
}

.shadow-on-hover:hover {
  box-shadow: var(--bs-box-shadow) !important;
}

.shadow-lg-on-hover:hover {
  box-shadow: var(--bs-box-shadow-lg) !important;
}

.shadow-sm-on-hover:hover {
  box-shadow: var(--bs-box-shadow-sm) !important;
}

.no-shadow-on-hover:hover {
  box-shadow: none !important;
}


/* Define the scale classes */
.scale-1 {
  transition: transform 0.2s;
}

.scale-1:hover {
  transform: scale(1.02);
}

.scale-2 {
  transition: transform 0.2s;
}

.scale-2:hover {
  transform: scale(1.04);
}

.scale-3 {
  transition: transform 0.2s;
}

.scale-3:hover {
  transform: scale(1.06);
}

.scale-4 {
  transition: transform 0.2s;
}

.scale-4:hover {
  transform: scale(1.08);
}

.scale-5 {
  transition: transform 0.2s;
}

.scale-5:hover {
  transform: scale(1.1);
}

/* Base class for vignette effect */
.vignette {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.vignette::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: inherit;
}

.vignette-1::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.2) 100%);
}

.vignette-2::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 100%);
}

.vignette-3::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.6) 100%);
}

.vignette-4::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
}

.vignette-5::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
}

/* Base class for reverse vignette effect */
.reverse-vignette {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* Adjust as needed */
}

.reverse-vignette::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: inherit;
}

/* Reverse vignette intensity variants */
.reverse-vignette-1::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
}

.reverse-vignette-2::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);
}

.reverse-vignette-3::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 100%);
}

.reverse-vignette-4::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 100%);
}

.reverse-vignette-5::before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
}

/* Base class for glow effect */
.glow-container {
  position: relative;
  display: inline-block;
}

.glow-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: url('/logo.png') no-repeat center center;
  background-size: cover;
  transform: translate(-50%, -50%);
  filter: invert(1);
  filter: blur(1px);
  opacity: 0;
  z-index: 0;
  animation: breathe-in-out-rhythm-for-glow-logo 12s infinite ease-in-out;
}

.glow-logo {
  position: relative;
  z-index: 1;
}

@keyframes breathe-in-out-rhythm-for-glow-logo {

  0%,
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
    filter: blur(1px);
  }

  50% {
    width: var(--glow-logo-breathing-width);
    height: var(--glow-logo-breathing-height);
    opacity: var(--glow-logo-breathing-opacity);
    filter: blur(40px);
  }

}

.hide-on-scroll.show-on-scroll {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.hide-on-scroll.show-on-scroll.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.hide-on-scroll.show-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

.text-glow {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  /* Initial state with no glow */
  transition: text-shadow 2s ease-in-out;
  /* Slow transition over 1 second */
}

.text-warning-glow {
  text-shadow: 0 0 10px rgba(255, 193, 7, 0.7), 0 0 20px rgba(255, 193, 7, 0.5), 0 0 30px rgba(255, 193, 7, 0.4);
}

.text-primary-glow {
  text-shadow: 0 0 10px rgba(13, 110, 253, 0.7), 0 0 20px rgba(13, 110, 253, 0.5), 0 0 30px rgba(13, 110, 253, 0.4);
}

.text-danger-glow {
  text-shadow: 0 0 10px rgba(220, 53, 69, 0.7), 0 0 20px rgba(220, 53, 69, 0.5), 0 0 30px rgba(220, 53, 69, 0.4);
}

.text-success-glow {
  text-shadow: 0 0 10px rgba(25, 135, 84, 0.7), 0 0 20px rgba(25, 135, 84, 0.5), 0 0 30px rgba(25, 135, 84, 0.4);
}

.text-info-glow {
  text-shadow: 0 0 10px rgba(13, 202, 240, 0.7), 0 0 20px rgba(13, 202, 240, 0.5), 0 0 30px rgba(13, 202, 240, 0.4);
}

.text-dark-glow {
  text-shadow: 0 0 10px rgba(33, 37, 41, 0.7), 0 0 20px rgba(33, 37, 41, 0.5), 0 0 30px rgba(33, 37, 41, 0.4);
}

.text-light-glow {
  text-shadow: 0 0 10px rgba(248, 249, 250, 0.7), 0 0 20px rgba(248, 249, 250, 0.5), 0 0 30px rgba(248, 249, 250, 0.4);
}

.text-white-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4);
}

.text-warning-glow-on-hover,
.text-primary-glow-on-hover,
.text-danger-glow-on-hover,
.text-success-glow-on-hover,
.text-info-glow-on-hover,
.text-dark-glow-on-hover,
.text-light-glow-on-hover,
.text-white-glow-on-hover {
  transition: text-shadow 0.3s ease-in-out;
}

.text-warning-glow-on-hover:hover {
  text-shadow: 0 0 10px rgba(255, 193, 7, 0.7), 0 0 20px rgba(255, 193, 7, 0.5), 0 0 30px rgba(255, 193, 7, 0.4);
}

.text-primary-glow-on-hover:hover {
  text-shadow: 0 0 10px rgba(13, 110, 253, 0.7), 0 0 20px rgba(13, 110, 253, 0.5), 0 0 30px rgba(13, 110, 253, 0.4);
}

.text-danger-glow-on-hover:hover {
  text-shadow: 0 0 10px rgba(220, 53, 69, 0.7), 0 0 20px rgba(220, 53, 69, 0.5), 0 0 30px rgba(220, 53, 69, 0.4);
}

.text-success-glow-on-hover:hover {
  text-shadow: 0 0 10px rgba(25, 135, 84, 0.7), 0 0 20px rgba(25, 135, 84, 0.5), 0 0 30px rgba(25, 135, 84, 0.4);
}

.text-info-glow-on-hover:hover {
  text-shadow: 0 0 10px rgba(13, 202, 240, 0.7), 0 0 20px rgba(13, 202, 240, 0.5), 0 0 30px rgba(13, 202, 240, 0.4);
}

.text-dark-glow-on-hover:hover {
  text-shadow: 0 0 10px rgba(33, 37, 41, 0.7), 0 0 20px rgba(33, 37, 41, 0.5), 0 0 30px rgba(33, 37, 41, 0.4);
}

.text-light-glow-on-hover:hover {
  text-shadow: 0 0 10px rgba(248, 249, 250, 0.7), 0 0 20px rgba(248, 249, 250, 0.5), 0 0 30px rgba(248, 249, 250, 0.4);
}

.text-white-glow-on-hover:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4);
}

/* Fade-In Variations */
.fade-in-1 {
  animation: FadeIN 0.5s ease-in-out !important;
}

.fade-in-2,
nav {
  animation: FadeIN 1s ease-in-out !important;
}

.fade-in-3 {
  animation: FadeIN 1.5s ease-in-out !important;
}

.fade-in-4 {
  animation: FadeIN 2s ease-in-out !important;
}

.fade-in-5 {
  animation: FadeIN 3s ease-in-out !important;
}

/* Keyframes for Fade-In */
@keyframes FadeIN {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Fade-Out Variations */
.fade-out-1 {
  animation: FadeOUT 0.5s ease-in-out !important;
}

.fade-out-2 {
  animation: FadeOUT 1s ease-in-out !important;
}

.fade-out-3 {
  animation: FadeOUT 1.5s ease-in-out !important;
}

.fade-out-4 {
  animation: FadeOUT 2s ease-in-out !important;
}

.fade-out-5 {
  animation: FadeOUT 3s ease-in-out !important;
}

/* Keyframes for Fade-Out */
@keyframes FadeOUT {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/***** Disabler Classes - used directly within js to disable render of Katex and Highlight Js 'changed' *****/
.no-math-render,
.no-code-change {}

/* Mermaid Diagrams */
.node rect,
.node circle,
.node ellipse,
.node polygon,
.node path {
  fill: transparent !important;
}

@media (prefers-color-scheme: dark) {
  .flowchart-link {
    stroke: white !important;
  }

  .edgeLabel p {
    background-color: transparent !important;
  }
}