@import url('/css/fonts/alldeclaration.css');

/** This converts the imported fonts to class for easy access **/

.cinzel {
    font-family: 'Cinzel', serif !important;
}

.ds-digital {
    font-family: 'DS-Digital', 'Orbitron' ,sans-serif !important;    
}

.foldit {
    font-family: 'Foldit', cursive !important;
}

.gruppo {
    font-family: 'Gruppo', cursive !important;
}

.lato-100 {
    font-family: 'Lato', sans-serif !important;
    font-weight: 100 !important;
}

.orbitron {
    font-family: 'Orbitron', sans-serif !important;
}

.roboto {
    font-family: 'Roboto', sans-serif !important;
}

.quicksand {
    font-family: 'Quicksand', sans-serif !important;
}

.maven-pro {
    font-family: 'Maven Pro', sans-serif !important;
}

.baloo-2 {
    font-family: 'Baloo 2', cursive !important;
}

.bebas-neue {
    font-family: 'Bebas Neue', cursive !important;
}

.tangerine {
    font-family: 'Tangerine', cursive !important;
}

.syne-mono {
    font-family: 'Syne Mono', monospace !important;
}

.rubik-80s-fade {
    font-family: 'Rubik 80s Fade', cursive !important;
}

.neonderthaw {
    font-family: 'Neonderthaw', cursive !important;
}

.neon-effect {
    color: var(--text-color);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff !important;
}