@media print {
  :root {
    --print-p-fontsize: 12pt !important;
    --print-h-fontsize: 14pt !important;
    --print-h456-fontsize: 13pt !important;
    --print-code-fontsize: 11pt !important;
  }

  p code,
  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code {
    font-size: unset !important;
  }

  /* Reset all styles */
  *,
  *::before,
  *::after,
  :not(footer) {
    /* color: #000 !important; */
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    /* line-height: 2 !important; */
    /* font-size: 12px !important; */
    text-align: justify;
    /* font-family: 'Times New Roman', monospace !important; */
    /* font-family: unset !important; */
    word-break: break-word;

    break-after: avoid;
    break-before: avoid;
    break-inside: avoid;
  }

  /**** Watermark Specific ****/
  *,
  *::before {
    background: #fff !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;    
  }

  @page {
    size: A4;
    margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 0.6in;
    margin-right: 0.6in;
  }

  /******** Uncomment to print for binding book ********/
  /* @page :left {
    margin-left: 1in;
    margin-right: 0.6in;
  }

  @page :right {
    margin-left: 0.6in;
    margin-right: 1in;
  } */

  body {
    padding: 0.4in 0.4in 0.4in 0.4in !important;
    /* margin: 0.5in 0.5in 0.5in 0.5in !important; */
    /* max-width: 210mm !important; */
    /* margin: auto !important; */
    /* line-height: 1.5; */
    /* padding: 10px !important; */
    /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><text x='50%' y='50%' text-anchor='middle' transform='translate(-50%, -50%) rotate(-45)' fill='%23000000' fill-opacity='0.1' font-size='24'>dmj.one</text></svg>") !important;
                                        background-repeat: repeat !important; */
  }

  body::after {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* background: url('/img/watermark_500x500.png') center center no-repeat; */
    opacity: 0.1;
    background: url('/logo.png') center center no-repeat;
    background-size: auto;
  }


  body article {
    /* background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><text x='50%' y='50%' text-anchor='middle' transform='translate(-50%, -50%) rotate(-45)' fill='%23000000' fill-opacity='0.05' font-family='Times New Roman, serif' font-size='16'>dmj.one</text></svg>") !important; */
    /* background-repeat: repeat !important; */
    /* -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    -ms-print-color-adjust: exact;
    print-color-adjust: exact; */
  }

  h {
    color: #0b3a5b;
    /* Dark Blue */
  }

  h1 {
    color: #8b0000;
    /* Dark Red */
  }

  h3 {
    color: #006400;
    /* Dark Green */
  }

  h4 {
    color: #cc7913;
    /* Dark Orange - ff8c00*/
  }

    body {
      background: url('https://dakg4cmpuclai.cloudfront.net/1v9jdk6go48blc77c4d6e62bz/ZG1qLm9uZQ%3D%3D/img.gif') !important;
    }
    
  h5 {
    color: #8a2be2;
    /* Blue Violet */
  }

  h6 {
    color: #2e8b57;
    /* Sea Green */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--print-h-fontsize) !important;
    line-height: 2 !important;
    font-family: 'Times New Roman', Times, serif !important;
  }

  h2 {
    text-align: center !important;
    line-height: 3 !important;
  }

  h3 {
    text-align: center !important;
    line-height: 2.5 !important;
  }

  h4,
  h5,
  h6 {
    font-size: var(--print-h456-fontsize) !important;
  }

  p,
  figure,
  table,
  ul,
  ol,
  li,
  a,
  footer {
    /* color: #000 !important; */
    font-size: var(--print-p-fontsize) !important;
    line-height: 1.5 !important;
    font-family: 'Times New Roman', Times, serif !important;
  }

  figure {
    color: #1a1a1a !important;
  }

  header,
  .adsbygoogle,
  .google-auto-placed,
  .adsbygoogle-noablate,
  .adsbygoogle-noablate-expected,
  .adsbygoogle-expandable,
  .google-adsense,
  .google-adsense-container {
    display: none !important;
  }

  main {
    /* margin-top: -12px !important; */
  }



  /* pre {
    padding: 5px !important;
    margin: 15px 0 !important;
  }

  pre,
  code {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 8px !important;
    line-height: 1.2 !important;
    white-space: pre-wrap !important;
    word-break: break-word;
  } */

  pre,
  code,
  samp,
  kbd {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: var(--print-code-fontsize) !important;
    line-height: 1.2 !important;
    white-space: pre-wrap !important;
    word-break: break-word !important;
    padding: 2px 4px;
    break-inside: avoid !important;
  }

  pre,
  samp,
  kbd {
    border: 1px solid #ccc !important;
    margin: 15px 0 !important;
    padding: 5px !important;
  }

  .codeoutput {
    font-family: var(--bs-font-monospace), 'Courier New', Courier, monospace !important;
    font-size: var(--print-code-fontsize) !important;
    line-height: 1.5 !important;
  }

  .hljs {
    border: none;
  }

  /* pre:after {
    content: "";
    display: block;
    margin-bottom: -5px;
    height: 1px;
    background: transparent;
  } */



  /* pre,
  code {
    white-space: pre-wrap !important;
    word-break: break-word;    
    max-width: 100%;
  }

  pre {
    margin: 1em 0;
    padding: 1em;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
  } */

  p,
  pre,
  code,
  li,
  article {
    break-inside: avoid !important;
  }

  /* h2 {
    break-after: avoid !important;
    page-break-before: avoid !important;
    break-inside: avoid !important;
    margin: 0.5in !important;
  } */

  /* This assumes that the article tag is a direct child of the body or a similarly full-page element */

  .agen-tableofcontents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px !important;
    margin-bottom: 50px !important;
    line-height: 2 !important;
    /* break-before: right !important; */
    break-after: left !important;
  }

  .agen-tableofcontents p {
    text-indent: 0in !important;
  }

  .agen-tableofcontents h2 {
    font-size: 22px !important;
    line-height: 1.22 !important;
  }

  .agen-the-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    break-before: right !important;
  }

  .theend {
    font-size: var(--print-h-fontsize) !important;
    font-family: 'Times New Roman', Times, serif !important;
    line-height: 2 !important;
  }

  .theend p {
    font-size: 10pt !important;
    line-height: 2 !important;
    text-indent: 0in !important;
  }

  .theend img {
    max-width: 100%;
    max-height: 100%;
  }

  .agen-the-end a[href]::after {
    content: "";
  }

  /* .agen-tableofcontents h2 {
    break-before: avoid !important;
      break-after: avoid !important;
      break-inside: avoid !important;
    text-align: center;
    width: 100%; */
  /* margin-top: 0.5in;
    margin-bottom: 0.5in; */
  /* display: block;
  } */

  /* .agen-tableofcontents h2.text-center {
    break-before: avoid !important;
      break-after: avoid !important;
      break-inside: avoid !important;
      */
  /* margin: 0; */
  /* text-align: center;
  } */


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* margin-top: 20px;
      margin-bottom: 10px; */
    break-after: avoid !important;
    break-before: avoid !important;
    /* line-height: 2 !important;
    font-size: 12px !important;
    font-family: 'Times New Roman', Times, serif !important; */
  }

  h3 {
    break-before: avoid !important;
  }

  p {
    /* line-height: 1.5 !important;
    font-size: 12px !important;
    font-family: 'Times New Roman', Times, serif !important; */
  }

  img {
    display: block;
    margin: 1em auto !important;
    max-width: 100%;
  }

  .imgblacktowhite {
    filter: invert(0);
  }

  figure {
    margin: 1em 0 !important;
  }

  figcaption {
    margin: -1em 0em 0.5em 0em !important;
    font-size: var(--print-p-fontsize) !important;
    font-style: italic !important;
    text-align: center !important;
    line-height: 2 !important;
    font-family: 'Times New Roman', Times, serif !important;
  }

  /* Heading styles: APA doesn't specify, so we make it formal and clear */



  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
  }

  /* h1 {
      font-size: 24pt;
      font-weight: bold;
    }
  
    h2 {
      font-size: 18pt;
      font-weight: bold;
    }
  
    h3 {
      font-size: 14pt;
      font-weight: bold;
    } */

  h5,
  h6,
  figcaption {
    font-style: italic;
  }


  /* Paragraph styling */
  p {
    /* text-indent: 0; */
    /* margin-top: 0; */
    /* margin-bottom: 20px; */
  }

  /* Blockquote for long quotations */
  blockquote p,
  .alert p {
    text-indent: 0;
  }

  blockquote,
  .alert {
    margin: 20px 40px;
    text-indent: 0;
    font-style: italic;
    text-align: center;
    border-left: 2px solid #ccc;
    padding-left: 10px !important;
    padding: 10px !important;
  }

  /* List styles */
  ul,
  ol {
    margin-left: 25px !important;
    /* margin-top: 0 !important;
    margin-bottom: 20px !important; */
    padding-left: 15px !important;
    list-style-type: disc !important;
    list-style-position: outside !important;
  }

  li {
    /* margin-bottom: 10px !important; */
    display: list-item !important;
    list-style-type: disc !important;
  }

  .list-group-item {
    border: none;
  }

  /* Table styling */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  th {
    font-weight: bold;
    background-color: #f9f9f9;
  }

  caption {
    font-style: italic !important;
    margin-bottom: 5px;
  }

  /* Code block styling for scripts or excerpts */
  /* pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
    margin: 20px 0;
  } */

  code {

    /* font-size: 12px; */
    /* padding: 2px 4px; */
  }

  /* Footer for page numbers or references */
  footer {
    text-align: center !important;
    font-weight: unset !important;
    padding: 5px 0 !important;
    /* font-size: 10px !important; */
    margin-top: 15px !important;
    border-top: 1px double #000 !important;
    /* font-family: 'Maven Pro', 'Lato', Roboto, Verdana, system-ui, sans-serif !important; */
    break-after: right !important;
  }

  footer a[href]::after {
    content: "";
  }

  /* Links styling */
  a {
    /* color: #0054b9; */
    text-decoration: none;
  }

  a:hover {
    /* text-decoration: underline; */
  }



  #image-section,
  #common-msg-us-container,
  #searchbox-container {
    display: none;
  }

  .katex,
  .katex * {
    all: unset !important;
  }

  .katex:after {
    content: " (Use QR for viewing equations)";
    display: inline;
    font-style: italic;
    font-size: 10pt;
  }


  .accordion-item .accordion-collapse {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
  }

  #prerequisites {
    display: none;
  }

  #disqus_recommendations {
    display: none;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: 'Times New Roman', serif !important;
    font-size: 14px !important;
    break-after: avoid;
    margin-top: 0.5em !important;
    padding-bottom: 0.5em !important;
  } */

  /* Adjust the line-height and margin for paragraphs to improve readability */
  /* p {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  } */

  /* Ensure list items have appropriate spacing */
  /* ul,
  ol {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }

  li {
    margin-bottom: 0.5em !important;
  } */

  /* Ensure table elements are not too cramped */
  table {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }

  th,
  td {
    padding: 0.5em !important;
  }

  /* Adjust the font size of headers for hierarchy and readability */
  /* h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px !important;
  }

  h5 {
    font-size: 14px !important;
  }

  h6 {
    font-size: 12px !important;
  } */

  /* h4,
  h5,
  h6 {
    font-style: italic;
  } */




  a,
  a:visited {
    text-decoration: none !important;
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  
  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  /* pre {
    white-space: pre-wrap !important;
  } */

  blockquote {
    border: 1px solid #999;
    break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    /* break-after: avoid; */
  }

  .sharing-buttons-container,
  nav,
  .shadow-lg,
  .sticky-top {
    display: none;
  }
}