@media print {

    :root {
        --namesize: 20pt;
        --size-head: 13pt;
        --size-item: 12pt;
        --size-text: 11pt;
        --whitespace: 0.3in;
        --familyarial: 'Arial', sans-serif;
        --familytimes: 'Times New Roman', serif;
        --line-height-resume: 1.2;
        --line-height-section: 1.5;
    }

/* 
 * For Arial Set Size as 12 11 10 respectively. For Times Set Size as 13 12 11 respectively.
 * For Arial Set Line Height as 1.2. For Times Set Line Height as 1.5.
*/
    *,
    *::before {
        background: #fff !important;
    }

    *,
    *::before,
    *::after,
    :not(footer) {
        line-height: var(--line-height-resume) !important;
        font-size: var(--size-text) !important;
        /* font-family: var(--familyarial) !important; */
        font-family: var(--familytimes) !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        margin: 0 !important;
        padding: 0 !important;
        text-align: justify;
        /* font-family: 'Times New Roman', monospace !important; */
        /* font-family: unset !important; */
        word-break: break-word;

        break-after: avoid;
        break-before: avoid;
        break-inside: avoid;
    }

    @page {
        size: A4;
        margin-top: 0in;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-right: 0in;
    }

    body {
        padding: 0in 0in 0in 0in !important;
    }

    body::after {
        content: "";
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        /* background: url('/img/watermark_500x500.png') center center no-repeat; */
        opacity: 0.1;
        /* background: url('/logo.png') center center no-repeat;
        background-size: auto; */
    }

    /* Prevent URLs from being added in parentheses in print mode */

    a[href]:after {
        content: none !important;
    }


    .no-break-link {
        white-space: nowrap;
        /* Prevent line breaks in links */
    }

    .h1,
    h1 {
        font-size: var(--namesize) !important;
        color: #000 !important;
    }

    .h2,
    h2 {
        font-size: var(--size-head) !important;
        color: #000 !important;
    }

    .header {
        text-align: center !important;
    }

    .name {
        font-size: var(--namesize) !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
    }

    .item-title {
        font-size: var(--size-item) !important;
    }
    .whitespace {
        padding: var(--whitespace) !important;
    }
    .whitespace-x {
        padding-left: var(--whitespace) !important;
        padding-right: var(--whitespace) !important;
    }
    .whitespace-y {
        padding-top: var(--whitespace) !important;
        padding-bottom: var(--whitespace) !important;
    }
    .whitespace-t {
        padding-top: var(--whitespace) !important;
    }
    .whitespace-b {
        padding-bottom: var(--whitespace) !important;
    }

    .section-title {
        /* line-height: var(--line-height-section) !important; */
        /* padding: 0.7rem 0rem 0rem 0rem !important; */
    }
}

.h1 {
    color: var(--htag);
}

.h2 {
    color: var(--htag);
}

.indentp05 {
    padding-left: 0.05in !important;
}

.indentp10 {
    padding-left: 0.10in !important;
}

.indentp15 {
    padding-left: 0.15in !important;
}

.indentp20 {
    padding-left: 0.20in !important;
}

.indentp25 {
    padding-left: 0.25in !important;
    /* Apply padding to simulate-size-text indentation */
    /*-size-text-indent: -0.25in !important; */
    /* Counter the padding on the first line */
}

.indentp30 {
    padding-left: 0.30in !important;
}

.indentp35 {
    padding-left: 0.35in !important;
}

.indentp40 {
    padding-left: 0.40in !important;
}

.indentp45 {
    padding-left: 0.45in !important;
}

.indentp5 {
    padding-left: 0.5in !important;
    /*-size-text-indent: -0.5in !important; */
}


/* Reset ul and li styles */
ul {
    margin: 0 !important;
    padding-left: 20px !important;
    /* Adjust this value as needed for the default indentation */
    list-style-type: disc !important;
    /* Default bullet point */
}

li {
    margin: 0 !important;
    padding: 0 !important;
    line-height: var(--line-height-resume) !important;
    /* Adjust line-height for readability */
}

/* Reset any custom bullet styling */
ul.custom-style {
    list-style-type: disc !important;
}

@media print {

    *,
    *::before {
        background: #fff !important;
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    /* Hide Google Ads and related elements */
    .ipr-container,
    #google_esf,
    .adsbygoogle,
    .adsbygoogle-noablate,
    #google-anno-sa,
    iframe[id^="google_ads_iframe"],
    div[id^="google_ads_frame"],
    div[class*="google-vignette"],
    div[class*="google_ads"],
    div[class*="adsbygoogle"],
    #google_ads_top_frame,
    .google-ads-container,
    .google-auto-placed,
    .google-adsbygoogle,
    .google-unified,
    .google-auto-ad {
        display: none !important;
    }

}