body {
    /* margin: 20px; */
    line-height: 1.5;
    font-size: 12pt;
}

.instructionsforprofessor {
    display:none;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.question-text {
    font-weight: bold;
}

.options {
    margin: 10px 0;
    padding-left: 20px;
}

.correct-answer {
    color: green;
    font-weight: bold;
}

@media print {
    body {
        font-family: inherit;
        font-size: inherit;
        margin: 0;
        padding: 0;
    }

    /* .question-text {
        font-weight: normal;
        line-height: 2;
    } */

    .question {
        text-align: justify;
        break-inside: avoid !important;
        border: 1px solid #ccc;
        padding: 5px !important;
    }

    .options {
        break-inside: avoid !important;
        /* margin-bottom: 10px 0 !important; */
        padding-left: 30pt !important;
    }

    .correct-answer {
        color: unset;
        font-style: italic;
        font-weight: normal;
    }

    .correct-answer::after {
        content: " (Correct)";
        font-weight: bold;
        font-style: normal;
    }
    .instructionsforprofessor {
        display:unset;
    }
}