body {
    font-family: "Source Sans Pro", sans-serif;
    transition: background-color 0.3s;
    text-align: center;
    background: linear-gradient(45deg, #E3F2FD, #D1C4E9);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting,
.message {
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
    animation: glow 2500ms linear infinite, pulse 5s infinite;
    white-space: normal;
}

.greeting:hover,
.message:hover {
    transform: scale(1.05);
}

.greeting {
    font-size: calc(3rem + 4vw);
    font-weight: bold;
    margin-bottom: 1rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 8px currentColor;
    }
}

.message {
    font-size: calc(1rem + 1.5vw);
    max-width: 90%;
    line-height: 1.5;
    font-weight: 300;
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, currentColor, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Default light mode styles */
@media (prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {
    body {
        background: linear-gradient(45deg, #E3F2FD, #D1C4E9);
        color: #5C6BC0;
    }

    .greeting,
    .message {
        background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #5C6BC0, transparent, transparent);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

/* Dark mode styles based on system preference */
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(45deg, #263238, #424242);
        color: #80CBC4;
    }

    .greeting,
    .message {
        background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #80CBC4, transparent, transparent);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}