/* Global Styles */
body {
    /*font-family: 'Roboto', sans-serif;*/
}

* {
    text-align: justify;
}

/* Navbar */
.navbar-brand {
    font-weight: 500;
}

/* Article Banner */
.article-banner {
    position: relative;
    background: url('https://agen-bgimg.dmj.one/') no-repeat center center;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.article-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner-content h1 {
    /* font-size: 3rem; */
    font-weight: 700;
    /* margin-bottom: 0.5rem; */
}

.banner-content p {
    /* font-size: 1.2rem; */
}

/* Main Content */
.main-content {
    margin-top: 2rem;
}

.article-content {
    /* padding: 2rem; */
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.author-info,
.related-articles {
    /* padding: 1rem; */
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    margin-bottom: 2rem;
}

.share-buttons a {
    margin-right: 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.share-buttons a:hover {
    color: #ccc;
}

/* Comment Section */
.comment {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.comment small {
    color: #777;
}

/* Ensure images are responsive */
.article-content img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    .article-banner {
        height: 50vh;
    }

    .banner-content h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    .banner-content p {
        font-size: 1.2rem;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .article-banner {
        height: 40vh;
    }

    .banner-content h1 {
        /* font-size: 1.5rem; */
    }
}

/* Print Styles for APA6 formatting */
@media print {
    * {
        text-align: justify;
        margin: 0;
        padding: 0;
    }

    @page {
        margin: 1in 1in 1in 1in !important;
        background-color: white !important;
    }

    /* Hide elements that are not needed in print */
    nav,
    .share-buttons,
    #comments,
    .related-articles,
    footer,
    .btn,
    .navbar,
    .card,
    .comment,
    #sidebar {
        display: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
        font-size: 14pt;
        line-height: 2 !important;
    }

    h1,
    h2 {
        font-weight: bold;
    }

    h3 {
        font-weight: bold;
        font-style: italic;
    }

    h6 {
        font-style: italic;
    }

    #banner-content {
        margin-bottom: 10px;
        border-bottom: 1px solid black;
    }

    #references p {
        padding: 20px !important;
    }

    #bannerTitle {
        font-size: 16pt !important;
        color: black !important;
        font-weight: bold !important;
        display: block !important;
    }

    #bannerDate {
        font-size: 10pt !important;
        color: black !important;
    }

    /* Expand main content to full width */
    .main-content,
    .col-lg-9,
    #MainArticleColumn {
        margin: 0;
        padding: 10px !important;
        font-size: 12pt !important;
        min-width: 100% !important;
    }

    .article-banner {
        height: auto !important;
        background: white !important;
    }

    .article-content {
        padding-left: 10;
        border: none;
        box-shadow: none;
    }

    /* APA6 styling */
    body {
        font-family: "Times New Roman", serif;
        font-size: 12pt;
        line-height: 1.5 !important;
        color: #000;
        background-color: white !important;
    }

    *,
    *::before {
        background: #fff !important;
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    body::after {
        content: "";
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        /* background: url('/img/watermark_500x500.png') center center no-repeat; */
        opacity: 0.1;
        background: url('/logo.png') center center no-repeat;
        background-size: auto;
    }
}